<div class="row center-align">
  <div class="col s3">
    <%#= image_tag group.owner.profile_picture, class: "responsive-img circle noob-small" %>
    <%= group.owner.name %>
  </div>
  <div class="col s2">
    <%= group.name %>
  </div>
  <div class="col s4">
    <%= group.description %>
  </div>
  <div class="col s1">
    <%= group.users.count %>
  </div>
  <div class="col s2">
    <%= link_to group_follows_path(group), method: :put, class: "btn-floating btn waves-effect waves-light" do %>
      <i class="medium material-icons">add_circle</i>
    <% end %>

    <%= link_to group_follows_path(group), method: :delete, class: "btn-floating btn waves-effect waves-light red" do %>
      <i class="medium material-icons">remove_circle</i>
    <% end %>
  </div>

</div>

