<div class="row center-align group-row">
  <div class="col s3 group-owner">
    <div><%= image_tag group.owner.image_url, class: "responsive-img circle noob-small" %></div>
    <div><%= group.owner.name %></div>
  </div>
  <div class="col s2 group-name">
    <%= group.name %>
  </div>
  <div class="col s4 group-description">
    <%= group.description %>
  </div>
  <div class="col s1 group-members">
    <%= group.users.count %>
  </div>
  <div class="col s2">

    <%= render partial: "follows.submit.button",
               locals:  {
                 method_to_use: "post",
                 button_icon: "add_circle",
                 button_classes: "btn-floating btn waves-effect waves-light group-all-btn",
                 users: group.users
               } %>

    <%= render partial: "follows.submit.button",
               locals:  {
                 method_to_use: "delete",
                 button_icon: "remove_circle",
                 button_classes: "btn-floating btn waves-effect waves-light red group-all-btn",
                 users: group.users
               } %>
  </div>

</div>

