<ul class="collection with-header">

  <table class="group-users">
    <thead>
    <tr>
      <th data-field="username">Name</th>
      <th data-field="provider">Authorized Providers</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>

    <% users.each do |user| %>
      <tr class="group-user-row">
        <td class="user-name">
          <div><%=  image_tag user.image_url, class: "responsive-img circle noob-small" %></div>
          <div><%= user.name %></div>
        </td>
        <td>
          <% user.authorizations.each do |auth| %>
            <%= image_tag auth.logo_for_service, class: "responsive-img circle noob-small" %>
          <% end %>
        </td>
        <td>
          <% if current_user == user %>
            <% disable = "disabled" %>
          <% else %>
            <% disable = "" %>
          <% end %>

          <%= render partial: "follows.submit.button",
                     locals:  {
                       method_to_use:  "post",
                       users:          [user],
                       authorizations: user.authorizations,
                       button_icon:    "add_circle",
                       button_classes: "btn-floating btn waves-effect waves-light #{disable} user-follow-btn"
                     } %>

          <%= render partial: "follows.submit.button",
                     locals:  {
                       method_to_use:  "delete",
                       users:          [user],
                       authorizations: user.authorizations,
                       button_icon:    "remove_circle",
                       button_classes: "btn-floating btn waves-effect waves-light red #{disable} user-follow-btn"
                     } %>

        </td>
      </tr>
    <% end %>

    </tbody>

  </table>

</ul>
