<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul class="left" id="login-badge">
          <li>
            <div class="chip right-align">
              <%= image_tag "Octocat.jpg" %>
              <%= current_user.username %>
            </div>
          </li>
        </ul>
        <%= link_to "Cannect", root_path, class: "brand-logo center" %>
        <ul class="right">
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>



<main>
  <div class="row">

    <div class="col s4 white">
      <div class="container" id="profile">
        <div class="card">
          <div class="card-image">
            <%= image_tag current_user.profile_picture, class: "responsive-img" %>
          </div>
          <div class="card-content black-text">
            <div class="collection">
              <div class="collection-item">
                <span class="collection-header center-align"><h5><%= current_user.provider.capitalize %></h5></span>
                <div class="divider"></div>
                <p>
                  Following: <span class="badge"><%= current_user.following %></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s8">
      alot lakdjsf adsfo ads;lkfj a;lsdkfjakl;sdj l;kadjsf l;kadjsfkl;j asdkl;fjals;kdj fl;aksdfj
    </div>

  </div>

</main>
